{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
{% endblock extra_css %}

{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
<div class="card">
  <div class="card-body text-bg-secondary">
    <h1>
      {{ page.title }}
      {% if not page.public %}
      <i class="bi bi-lock"></i>
      {% endif %}
    </h1>
    <p>
      (最終更新:{{ page.last_updated }})
    </p>
    {% if edit %}
    <p>
      <a href="{% url 'Wiki:update' username slug %}" class="btn btn-light btn-sm">
        編集
        {% if not page.edit_permission %}
        <i class="bi bi-lock"></i>
        {% endif %}
      </a>
    </p>
    {% endif %}
  </div>
</div>
<div class="markdownx padding-side">
  {{ page.get_text_markdownx | safe }}
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock extra_js %}
