{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
<link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{# <link rel="stylesheet" href="{% static 'css/codehilight.css' %}"> #}
{# <link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css"> #}
{% endblock extra_css %}

{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
<div class="has-background-grey has-text-white-bis">
  <div class="padding-side padding-top-10 padding-bottom-10">
    <h1 class="title is-1 has-text-white-bis">
      {{ page.title }}
      {% if not page.public %}
      <i class="bi bi-lock"></i>
      {% endif %}
    </h1>
    <p>
      (最終更新:{{ page.last_updated }})
    </p>
    {# <a href="{% url 'Wiki:share_detail' share_code %}"> #}
    {#   共有リンク #}
    {# </a> #}
    <p>
      {{ share_url }}
    </p>

    {% if edit %}
    <p>
      <a href="{% url 'Wiki:update' username slug %}" class="button is-light">
        編集
        {% if not page.edit_permission %}
        <i class="bi bi-lock"></i>
        {% endif %}
      </a>
    </p>
    {% endif %}
  </div>
</div>
<div class="padding-side content" id="id_text">
  {# {{ page.get_text_markdownx | safe }} #}
  <textarea>{{ page.text }}</textarea>
</div>
{% endblock content %}

{% block extra_js %}
{# <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script> #}
{# <script>hljs.initHighlightingOnLoad();</script> #}
<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
  $(function () {
    editormd.markdownToHTML("id_text", {
      emoji           : true,
      taskList        : true,
      tex             : true, 
      flowChart       : true,
      sequenceDiagram : true,
    });
    $(".reference-link").each(function (i,obj) {
    console.log(obj)
    })
  })
</script>
{% endblock extra_js %}
