{% extends 'base.html' %}
{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
<div class="card">
  <div class="card-body text-bg-secondary">
    <h1>
      {{ page.title }}
      {% if not page.public %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
      </svg>
      {% endif %}
    </h1>
    <p>
      (最終更新:{{ page.last_updated }})
    </p>
    {% if edit %}
    <p>
      <a href="{% url 'Wiki:update' username slug %}" class="btn btn-light btn-sm">
        編集
      </a>
    </p>
    {% endif %}
  </div>
</div>
<div class="markdownx">
  {{ page.get_text_markdownx | safe }}
</div>
{% endblock content %}
