{# {% load markdownx %} #}
{% extends 'base.html' %}
{% block title %}編集{% endblock title %}
{% block content %}
{% if type == "create" %}
<h1>新規作成</h1>
<form class="" action="{% url 'Wiki:create' %}" method="post">
  <button type="submit" class="btn btn-primary btn-sm">作成</button>
{% elif type == "update" %}
<h1>編集</h1>
<form class="" action="{% url 'Wiki:update' username slug %}" method="post">
  <button type="submit" class="btn btn-primary btn-sm">更新</button>
  <a href="{% url 'Wiki:detail' username slug %}" class="btn btn-primary btn-sm">戻る</a>
  <a href="{% url 'Wiki:delete' id %}" class="btn btn-danger btn-sm">削除</a>
{% else %}
<h1>新規作成</h1>
<form class="" action="{% url 'Wiki:create' %}" method="post">
  <button type="submit" class="btn btn-primary btn-sm">作成</button>
{% endif %}
  {% csrf_token %}
  <hr>
  {# {{ form.as_p }} #}
  <p>パス：</p>
  <p>{{ form.slug }}</p>
  <p>
    公開：
    {{ form.public }}
  </p>
  <p>タイトル：</p>
  <p>{{ form.title }}</p>
  <p>
  {{ form.text }}
  </p>
</form>
{{ form.media }}
{% endblock content %}
