{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock extra_css %}

{% block title %}編集{% endblock title %}

{% block content %}
<div class="padding-side">
  {% if type == "create" or type != "update" %}
  <h1>新規作成</h1>
  <form class="" action="{% url 'Wiki:create' %}" method="post">
    <button type="submit" name="action" value="detail" class="btn btn-primary btn-sm">保存して終了</button>
    <button type="submit" name="action" value="update" class="btn btn-primary btn-sm">保存して継続</button>
  {% else %}
  <h1>編集</h1>
  <form class="" action="{% url 'Wiki:update' username slug %}" method="post">
    <button type="submit" name="action" value="detail" class="btn btn-primary btn-sm">保存して終了</button>
    <button type="submit" name="action" value="update" class="btn btn-primary btn-sm">保存して継続</button>
    <a href="{% url 'Wiki:detail' username slug %}" class="btn btn-primary btn-sm">戻る</a>
    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#delete">削除</a>
  {% endif %}
    {% csrf_token %}
    <pre>タイトル&#009;：</pre>
    <p>{{ form.title }}</p>
    <pre>スラッグ&#009;：{{ form.slug }}</pre>
    <pre>優先度&#009;：{{ form.priority }}</pre>
    {% if author %}
    <pre>公開&#009;：{{ form.public }}</pre>
    <pre id="edit-permission">編集許可&#009;：{{ form.edit_permission }}</pre>
    {% else %}
    <div hidden="hidden">
      <pre>公開&#009;：{{ form.public }}</pre>
      <pre id="edit-permission">編集許可&#009;：{{ form.edit_permission }}</pre>
    </div>
    {% endif %}
    <hr>
    <p>
      {{ form.media }}
      {{ form.text }}
    </p>
    {# {{ form.media }} #}
    <hr>
    <button type="submit" name="action" value="detail" class="btn btn-primary btn-sm">
      保存して終了
    </button>
    <button type="submit" name="action" value="update" class="btn btn-primary btn-sm">
      保存して継続
    </button>
    {%if type == "update" %}
    <a href="{% url 'Wiki:detail' username slug %}" class="btn btn-primary btn-sm">
      戻る
    </a>
    <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#delete">
      削除
    </a>
    {% endif %}
  </form>
  {%if type == "update" %}
  {% include 'Wiki/delete_modal.html' %}
  {% endif %}
</div>
{% endblock content %}

{% block extra_js %}
{# <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script> #}
{# <script>hljs.initHighlightingOnLoad();</script> #}
{# <script src="{% static 'js/textarea.js' %}"></script> #}
{% if author %}
<script src="{% static 'js/edit_permission.js' %}"></script>
{% endif %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock extra_js %}
