{% extends 'base.html' %}
{% block extra_css %}
{% endblock extra_css %}

{% block title %}ホーム{% endblock title %}

{% block content %}
{# <div class="container custom-container"> #}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h1 class="title is-1">ホーム</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {# <a href="{% url 'Wiki:create' %}" class="btn btn-primary btn-sm">新規作成</a> #}
      <div class="card border-dark">
        <h3>階層図</h3>
        <div class="card-body ul-test">
          <div class="tree">
            {% for html in tree_htmls %}
            {{ html | safe  }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-dark">
        <h3>最近の更新</h3>
        <div class="card-body">
          {% for page in pages|slice:":10"  %}
          <h5>
            {{ page.title }}
          </h5>
          <p>
            <a href="{% url 'Wiki:detail' page.user.username page.slug %}">
              {{ page.user.username }}/{{ page.slug }}
            </a>
          </p>
          <p>
            (最終更新:{{ page.last_updated }})
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
