{% load static %}
<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <!-- Extra CSS -->
		{% block extra_css %}{% endblock extra_css %}
    
    <title>{% block title %}{% endblock title %}</title>
  </head>
	<body>  

  <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation" style="width: 100%;">
    <div class="navbar-brand">
      {# <a class="navbar-item" href="https://bulma.io"> #}
        {# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> #}
      {# </a> #}
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'Wiki:index' %}">ホーム</a>
        {# <a class="navbar-item" role="button" id="sidebar-toggle">記事</button> #}
        <a class="navbar-item sidebar-toggle" role="button">記事</button>
        <a class="navbar-item" href="{% url 'Wiki:create' %}">新規作成</a>
      </div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <a class="navbar-item" href="{% url 'logout' %}">{{ user }} - Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-item">
          Log in
        </a>
        <a href="{% url 'accounts:signup' %}" class="navbar-item">
          Sign up
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  <aside id="sidebar" class="sidebar">
    <div class="has-background-grey-dark has-text-white">
      <div class="padding-all">
        <div class="container">
          <div class="columns no-margin">
            <div class="column is-narrow">
              階層図
            </div>
            <div class="column has-text-right">
              <button class="button sidebar-toggle delete is-dark"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="tree">
        {% for html in nav_tree_htmls %}
        {{ html | safe  }}
        {% endfor %}
      </div>
    </div>
  </aside>
  {% block content %}{% endblock content %}
    <!-- JQuery -->
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> #}
    <!-- Custom JSS -->
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <!-- Extra JavaScript -->
		{% block extra_js %}{% endblock extra_js %}
  </body>
</html>
